@font-face {
    font-family: 'ambleregular';
    src: url('polices/amble/Amble-Regular-webfont.eot');
    src: url('polices/amble/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/amble/Amble-Regular-webfont.woff2') format('woff2'),
        url('polices/amble/Amble-Regular-webfont.woff') format('woff'),
        url('polices/amble/Amble-Regular-webfont.ttf') format('truetype'),
        url('polices/amble/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-family: 'sourceserifpro';
    src: url('polices/sourceserifpro/SourceSerifPro-Regular.otf');
    font-family: 'kurale';
    src: url('polices/kurale/Kurale-regular.otf');
    font-family: 'kaushan';
    src: url('polices/kaushan/Kaushan Script-Regular.otf');
    font-family: 'judson';
    src: url('polices/judson/Judson-Bold.otf');
    src: url('polices/judson/Judson-Regular.otf');
    font-family: 'montserrat';
    src: url('polices/montserrat/montserrat-regular.otf');
    font-family: kalam;
    src: url('polices/kalam/kalam-regular.ttf');
    font-family: devonshire;
    src: url('polices/devonshire/Devonshire-Regular.ttf');
    font-family: 'dancing';
    src: url('polices/Dancing/DancingSript-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/*keyframes wiggle*/
@keyframes wiggle {
    25% {
        transform: translateX(5%);
    }
    75% {
        transform: translateX(-5%);
    }
}
/*keyframes dots*/
@keyframes dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/*page principale*/
body {
    background-color: azure;
    display: block;
    padding: 0;
    justify-content: center;
}
main {
    background-color: #ffffff;
    margin: auto;
    padding-bottom: 0px;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 80%;
}
#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
    margin: auto;
}
.menu {
    display: flex;
    justify-content: center;
    padding-top: 4em;
    padding-right: 5px;
    padding-bottom: 4em;
    padding-left: 5px;
    margin-right: 130px;
    width: auto;


}
.element {
    display: flex;
    flex-direction: column;
    width: 540px;
    height: 759px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 50px;
    text-align: center;
    justify-content: center;
    box-shadow: 0 0 20px #bbba;
}
.element h2 {
    font-size: 4.3em;
}
.element h3 {
    font-size: 3.5em;
}
/* header */
header {
    font-size: 1.3em;
    letter-spacing: -0.075em;
    background-color: #579c87;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    height: 239px;
    font-family: "montserrat", sans-serif;
    margin: auto;
}
header h1 {
    color: #fdcb46;
    font-size: 4.4em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: -0.075em;
}
#carte-menu {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 75%;
    height: auto;
}
/*menu1 page principale*/
.menu1 {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
    width: 540px;
    height: 759px;
}
.menu1 a {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
  }
  .menu1 .font1 {
    font-family: "Devonshire", cursive;
    font-size: 3.5em;
  }
  
/*Menu2 page principale*/
.menu2 {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
    width: 540px;
    height: 759px;
  }
  
  .menu2 a {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
  }
  
/*Menu3 page principale*/
.menu3 {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "kalam", cursive;
    width: 540px;
    height: 759px;
  }
  
  .menu3 a {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "Kalam", cursive;
  }
  
  .menu3 h2 {
    font-weight: 300;
    font-family: "dancingSript" ,cursive;
  }
  .menu3 h3 {
      font-size: 3em;
  }
  /*Menu4 page principale*/
  .menu4 {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "Kalam", cursive;
    width: 540px;
    height: 759px;
  }
  
  .menu4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "Kalam", cursive;
  }
  
  .menu4 h2 {
    font-weight: 300;
  }
h1 {
    font-size: 2.4em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'verdana';
}
.title {
    font-size: 2.0em;
    text-align: center;
    padding-top: 1em;
}
.title {
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}
h2 {
    font-size: 1.8em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 2.3em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: opx;
}
a {
    color: #fdcb46;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle1 {
    display: flex;
    justify-content: center;
    width: 92%;
    margin: auto;
}
.subtitle2 {
    display: flex;
    justify-content: center;
    margin: auto;
}
.plat {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
   
}
/*page1*/
.page1{
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "Devonshire", cursive;
    font-weight: 100;
    margin: auto;
    width: 90%;
    text-align: center;
}
.page1 a {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
}
.page1 .font1 {
    font-family: "Devonshire", cursive;
    font-size: 2.5em;
}
.page1 h2 {
    font-weight: 400;
}
.page1 .prix {
    font-weight: bold;
}
/*page2*/
.page2 {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    text-align: center;
}
.page2 a {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
}
.page2 #color2 {
    color: #a56799;
}
.page2 #color3 {
    color: #6e4ccc;
}
div {
    display: block;
}
/*page3*/
.page3 {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "kalam", cursive;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
    text-align: center;
}
.page3 h2 {
    font-weight: 400;
    font-size: 1.6em;
}
.page3 a {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "kalam", cursive;
}
.page3, .font_color_pages {
    color: #000000;
}
/*page4*/
.page4 {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "kalam",cursive;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 0;
    width: 90%;

    text-align: center;
}
.page4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "kalam", cursive;
}
.page4 h2 {
    font-weight: 400;
}
.page4 .font_color_pages {
    color: #000000;
}
/*page 5 mentions légales*/
.page5 {
    background-color: #fff5fe;
    color: #3c1218;
    padding: 20px;
    text-align: left;
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;
} 
.page5 a {
    color: #579c87;
    text-align: left;
}
p {
    display: block;
    font-size: 1.2em;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.degrade1 {
    background-image: linear-gradient(0.25turn, #c77412 30%, #905bfd 70%);
    font-family: "Kurale", serif;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
.degrade2 {
    line-height: 70px;
    background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
    font-family: "DancingScript", cursive;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
.degrade3 {
    background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
    font-family: "kaushan Script", cursive;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
/*soulignement decoration*/
.line_left1 {
    display: inline-block;
    width: 230px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0%;
}
.line_left2 {
    display: inline-block;
    width: 230px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0px;
}
.line_right1 {
    display: inline-block;
    width: 230px;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: auto;
}
.line_right2 {
    display: inline-block;
    width: 230px;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: auto;
}
.border {
    display: inline;
    text-decoration-line: none;
    transition: background-size 0.5s;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition-property: background-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.border:hover {
    background-size: 100% 100%;
}
.border1 {
    color: #3b1d09f1;
    background: linear-gradient(to top, #2e1303de 0%, #20080de1 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border2 {
    color: #c77412;
    background: linear-gradient(to top, #c77412 0%, #c77412 10%, transparent 10.01%) no-repeat left bottom/0 100%;

}
.border3 {
    color: #a56799;
    background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border4 {
    color: #6e4ccc;
    background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border5 {
    color: #000000;
    background: linear-gradient(to top, #0431df 0%, #0431df 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border6 {
    color: #000000;
    background: linear-gradient(to top, #518cf0 0%, #518cf0 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border7 {
    color: #000000;
    background: linear-gradient(to top,#0887fb 0%, #0887fb 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border8 {
    color: #000000;
    background: linear-gradient(to top, #bfff7e 0%, #bfff7e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
/*animation zoom*/
.zoom {
    transform: scale(0.8);
    opacity: 1;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.zoom:hover {
    transform: scale(1);
    opacity: 0.3;
}
.menu4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: 'kalam',cursive;
}
.bottom_title {
    display: flex;
    justify-content: center;
}
.bottom_title span {
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto;
    margin-left: 0px;
    height: 35px;
    width: 35px;
}
/*prochainement*/
aside {
    display: flex;
    flex-direction: column;
    background-color: #579c87;
    color: #fdcb46;
    width: 650px;
    height: 116px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
}
/*points de suspension de prochainement*/
.loading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3.8em;
    margin-top: 10px;
    padding-bottom: 10px;
}
.loading span {
    display: inline-block;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: dots;
    font-size: 1.6em;
}
.loading .dot2 {
    animation-delay: 0.4s;
}
.loading .dot3 {
    animation-delay: 0.8s;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #579c87;
    color: #fdcb46;
    text-align: center;
    width: 80%;
    height: 134px;
    bottom: 0;
    position: sticky;
    margin: auto;
}
footer .contact {
    padding-top: 0px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-left: 40px;
}
footer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 3.2em;
    font-weight: 500;
}
/*animation footer*/
.anim:hover {
    animation: wiggle 150ms infinite ease-in-out;
}
/*icon music*/
.icon_music .fas {
    display: inline-block;
    color: transparent;
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    background-clip: initial;
    -webkit-background-clip: text;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
}  
.fa, .fas {
    font-weight: 900;
    line-height: 1;
}





/*mise en forme pour mobile de moins de 1145px */

    /*écran de moins de 1145px */
@media only screen and (max-width: 1145px) {
    header {
        width: 100%;
        height: 110px;
        font-size: 1.2em;
        letter-spacing: -0.075px;
    }
    header h1 {
        font-size: 3.5em;
    }
    footer {
        width: 100%;
        font-size: 1em;
    }
    footer h2 {
        font-family: "Montserrat", sans-serif;
        font-size: 1.5em;
        font-weight: 500;
    }
    main {
        width: 100%;
    }
    .page h1 {
        font-size: 1.3em;
    }
    .title {
        font-size: 1.5em;
    }
}
/*ecrans de moins de 650px*/
@media only screen and (max-width: 650px) {
    .element {
        width: 310px;
        height: 360px;
        margin: 20px auto;
    }
    .element h2 {
        font-size: 2em;
    }
    .element h3, .element .font1 {
        font-size: 1.5em;
    }
    .menu1, .menu2, .menu3, .menu4 {
        width: 100%;
        height: 100%;
    }
    .plat {
        flex-direction: column;
        margin-bottom: 2px;
    }
    .plat .prix {
        margin-top: 0;
    }
    .plat p {
        margin-bottom: 0;
    }
    aside {
        width: 70%;
        height: 60px;
        margin-top: 10px;
        margin-bottom: 15px;

    }
    .loading {
        font-weight: 200;
        font-size: 1.5em;
        padding-bottom: 10px;
    }
    .page1, .page2, .page3, .page4, .page5 {
        width: 100%;
        margin: auto;
        padding: 5px auto;
    }
    #carte-menu {
        width: 100%;
    }
    .page1 .font1 {
        font-size: 1.3em;
    }
    .page h2 {
        font-size: 1.7em;
    }
    .title {
        font-size: 1.3em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.4em;
    }
    p {
        font-size: 1.2em;
    }
    header {
        width: 100%;
        height: 100px;
        letter-spacing: -0.075px;
    }
    header h1 {
        font-size: 2.8em;
    }
    footer {
        width: 100%;
        height: 85px;
    }
    .subtitle1, .subtitle2 {
        font-size: 0.7em;
    }
    /*soulignement decoration*/
.line_left1, .line_left2, .line_right1, .line_right2{
    width: 100%;
}
}
/*ecrans de moins de 320px*/
@media all and (max-device-width: 320px) {
    header {
        width: 100%;
        height: 90px;
        letter-spacing: -0.075px;
    }
    header h1 {
        font-size: 1.8em;
    }
    aside {
        width: 70%;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding-top: 5px;
    }
    .loading {
        font-size: 1.4em;
    }
    footer {
        width: 100%;
        height: 60px;
    }
    footer h2 {
        font-size: 1em;
    }
    main {
        width: 100%;
    }
    .line_left1, .line_left2, .line_right1, .line_right2{
        width: 100%;
    }

}