@font-face {
    font-family: 'ambleregular';
    src: url('polices/amble/Amble-Regular-webfont.eot');
    src: url('polices/amble/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('polices/amble/Amble-Regular-webfont.woff2') format('woff2'),
        url('polices/amble/Amble-Regular-webfont.woff') format('woff'),
        url('polices/amble/Amble-Regular-webfont.ttf') format('truetype'),
        url('polices/amble/Amble-Regular-webfont.svg#ambleregular') format('svg');
    font-family: 'Dancing';
    src: url('polices/Dancing/Dancing Sript-Regular.otf');
    font-family: 'sourceserifpro';
    src: url('polices/sourceserifpro/SourceSerifPro-Regular.otf');
    font-family: 'kurale';
    src: url('polices/kurale/Kurale-regular.otf');
    font-family: 'kaushan';
    src: url('polices/kaushan/Kaushan Script-Regular.otf');
    font-family: 'judson';
    src: url('polices/judson/Judson-Bold.otf');
    src: url('polices/judson/Judson-Regular.otf');
    font-family: 'montserrat';
    src: url('polices/montserrat/montserrat-regular.otf');
    font-family: kalam;
    src: url('polices/kalam/kalam-regular.ttf');
    font-family: devonshire;
    src: url('polices/devonshire/Devonshire-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/*keyframes wiggle*/
@keyframes wiggle {
    25% {
        transform: translateX(5%);
    }
    75% {
        transform: translateX(-5%);
    }
}
/*keyframes dots*/
@keyframes dots {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
/*page principale*/
main {
    background-color: #ffffff;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
}
body {
    background-color: azure;
    display: block;
    margin: auto;
}
.menu {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
}
.menu h2 {
    font-size: 2.3em;
}
.menu h3 {
    font-size: 1.7em;
}
.carte-menu {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    width: 90%;
    height: auto;
}
/*menu1 page principale*/
.menu1 {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: 'kalam', cursive;
    font-weight: lighter;
}
.menu1 a {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "Kalam", cursive;
    font-weight: lighter;
  }
  .menu1 .font1 {
    font-family: "Devonshire", cursive;
    font-size: 2.5em;
  }
  
/*Menu2 page principale*/
.menu2 {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
  }
  
  .menu2 a {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
  }
  
/*Menu3 page principale*/
.menu3 {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "Kalam", cursive;
  }
  
  .menu3 a {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "Kalam", cursive;
  }
  
  .menu3 h2 {
    font-weight: 300;
  }
  
  /*Menu4 page principale*/
  .menu4 {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "Kalam", cursive;
  }
  
  .menu4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "Kalam", cursive;
  }
  
  .menu4 h2 {
    font-weight: 300;
  }
/* header */
header {
    font-size: 1.3em;
    background-color: #579c87;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90px;
    font-family: "montserrat", sans-serif;
}
header h1 {
    color: #fdcb46;
    font-size: 2.5em;
    font-weight: bold;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 2.5em;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'verdana';
}
h2 {
    font-size: 1.7em;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: opx;
}
a {
    color: #fdcb46;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subtitle1 {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
}
.subtitle2 {
    display: flex;
    justify-content: center;
    margin: auto;
}
.plat {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
/*page1*/
.page1{
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: "kalam", cursive;
    font-weight: 100;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
}
.page1 a {
    background-color: #fcdfdb;
    color: #3c1218;
    font-family: 'kalam', cursive;
    font-weight: lighter;
}
.page1 .font1 {
    font-family: "Devonshire", cursive;
    font-size: 2.5em;
}
.page1 h2 {
    font-weight: 400;
}
.page1 .prix {
    font-weight: bold;
}
/*page2*/
.page2 {
    background-color: #fff5fe;
    color: #c77412;
    font-family: 'Source Serif Pro', serif;
    font-weight: 100;
}
.page2 a {
    background-color: #fff5fe;
    color: #c77412;
    font-family: "Source Serif Pro", serif;
    font-weight: 100;
}
.page2 #color2 {
    color: #a56799;
}
.page2 #color3 {
    color: #6e4ccc;
}
div {
    display: block;
}
/*page3*/
.page3 {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "kalam", cursive;
    padding-top: 30px;
    padding-right: 100px;
    padding-bottom: 30px;
    padding-left: 100px;
}
.page3 h2 {
    font-weight: 400;
}
.page3 a {
    background-color: #f9f9f9;
    color: #2b91f8;
    font-family: "kalam", cursive;
}
.page3, .font_color_pages {

    color: #000000;
}
/*page4*/
.page4 {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: 'kalam',cursive;
    padding: 30px 100px 30px 100px;
}
.page4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: "kalam", cursive;
}
.page4 h2 {
    font-weight: 400;
}
.page4 .font_color_pages {
    color: #000000;
}
/*page 5 mentions légales*/
.page5 {
    background-color: #fff5fe;
    color: #3c1218;
    padding: 20px;
    text-align: left;
}
  
.page5 a {
    color: #579c87;
    text-align: left;
}
.title {
    border: none;
    box-shadow: none;
    width: auto;
    height: auto;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-inline-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
section {
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 360px;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 20px #bbba;
}
.degrade1 {
    background-image: linear-gradient(0.25turn, #c77412 30%, #905bfd 70%);
    font-family: "Kurale", serif;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
.degrade2 {
    line-height: 70px;
    background-image: linear-gradient(0.25turn, #0431df 30%, #518cf0 50%, #0887fb 20%);
    font-family: "dancing script", cursive;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
.degrade3 {
    background-image: linear-gradient(0.25turn, #3d9339, #bfff7e);
    font-family: "kaushan script", cursive;
    font-size: 2.5em;
    background-clip: initial;
    -webkit-background-clip: text;
    color: transparent;
}
/*soulignement decoration*/
.line_left1 {
    display: inline-block;
    width: 220px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0px;
}
.line_left2 {
    display: inline-block;
    width: 220px;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: 0px;
}
.line_right1 {
    display: inline-block;
    width: 220px;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: auto;
}
.line_right2 {
    display: inline-block;
    width: 220px;
    margin-top: auto;
    margin-right: 0px;
    margin-bottom: auto;
    margin-left: auto;
}
.border {
    display: inline;
    text-decoration-line: none;
    transition: background-size 0.5s;
    text-decoration-style: initial;
    text-decoration-color: initial;
    transition-property: background-size;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
}
.border:hover {
    background-size: 100% 100%;
}
.border1 {
    color: #3c1218;
    background: linear-gradient(to top, #f04a5e 0%, #f04a5e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border2 {
    color: #c77412;
    background: linear-gradient(to top, #c77412 0%, #c77412 10%, transparent 10.01%) no-repeat left bottom/0 100%;

}
.border3 {
    color: #a56799;
    background: linear-gradient(to top, #a56799 0%, #a56799 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border4 {
    color: #6e4ccc;
    background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border5 {
    color: #000000;
    background: linear-gradient(to top, #0431df 0%, #0431df 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border6 {
    color: #000000;
    background: linear-gradient(to top, #518cf0 0%, #518cf0 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border7 {
    color: #000000;
    background: linear-gradient(to top,#0887fb 0%, #0887fb 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
.border8 {
    color: #000000;
    background: linear-gradient(to top, #bfff7e 0%, #bfff7e 10%, transparent 10.01%) no-repeat left bottom/0 100%;
}
/*animation zoom*/
.zoom {
    transform: scale(0.8);
    opacity: 1;
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}
.zoom:hover {
    transform: scale(1);
    opacity: 0.3;
}
.menu4 a {
    background-color: #fdfffd;
    color: #72bf56;
    font-family: 'kalam',cursive;
}
.bottom_title {
    display: flex;
    justify-content: center;
}
.bottom_title span {
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: auto;
    margin-left: 0px;
    height: 35px;
    width: 35px;
}
aside {
    display: flex;
    flex-direction: column;
    background-color: #579c87;
    color: #fdcb46;
    width: 260px;
    height: 50px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    justify-content: center;
}
/*points de suspension de prochainement*/
.loading {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.8em;
    padding-bottom: 10px;
}
.loading span {
    display: inline-block;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-duration: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: dots;
    font-size: 2em;
}
.loading .dot2 {
    animation-delay: 0.4s;
}
.loading .dot3 {
    animation-delay: 0.8s;
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: #579c87;
    color: #fdcb46;
    text-align: center;
    height: 60px;
    margin: auto;
    bottom: 0;
    position: sticky;
}
footer .contact {
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
}
footer h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 1.8em;
    font-weight: 500;
}
/*animation footer*/
.anim:hover {
    animation: wiggle 150ms infinite ease-in-out;
}
/*icon music*/
.icon_music .fas {
    display: inline-block;
    color: transparent;
    font-size: 2em;
    text-align: center;
    padding-top: 5px;
    background-clip: initial;
    -webkit-background-clip: text;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-image: linear-gradient(0.25turn, #f04a5e, #f78f6a);
}  
.fa, .fas {
    font-weight: 900;
    line-height: 1;
}




/*mise en forme pour mobile de 720 px à 1024px */
@media only screen and (max-width: 1024px) and (min-width: 720px) {
    main {
        display: flex;
        flex-direction: column;
    }
    body {
        display: flex;
        flex-direction: column;
    }
    .Menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: auto;
    }
    aside {

        margin-top: 30px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        position: sticky;
        margin: 0px;
        font-size: 0.9em;
        padding-bottom: 12px;
    }
    .line {
        width: 30%;
        height: 60;
    }
    .page {
        padding: 30%;
    }
    .page h2 {
        font-size: 1.5em;
    }
}

    /*écran de moins de 720px */
    @media only screen and (max-width: 720px) {
        section {
            width: 260px;
            height: 330px;
        }
        .menu {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin: auto;
        }
        .page {
            padding: 7px;
        }
        .page h1 {
            font-size: 2em;
        }
        .page h2 {
            font-size: 1.3em;
        }
        .page .plat {
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .line {
            width: 15%;
            height: 80%;
        }
        aside {
            margin-top: 30px;
        }
        footer {
            display: flex;
            justify-content: space-around;
            position: sticky;
            bottom: 0;
            margin: 0px;
            font-size: 0.9em;
            padding-bottom: 12px;
        }
    }
